# Server Configuration
PORT=3000
NODE_ENV=production

# SMTP Configuration
SMTP_HOST=mail.uptocode.co.za
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=info@uptocode.co.za
SMTP_PASS=your_password_here
SMTP_FROM=info@uptocode.co.za
SMTP_TO=jason@uptocode.co.za

# WhatsApp API Configuration
WHATSAPP_API_TOKEN=whatsapp_598108a5-6abb-4550-8a26-3cf3b66e9472
WHATSAPP_INSTANCE_ID=instance_8d54a826-7081-4b83-b821-0a314d61df72
